body {
    background-color: #E9F8F6;
    font-family: Arial, sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  h1 {
    margin: auto;
    color: #008000; 
    text-align: center;
  }


  p {
    color: #696969; 
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
  }
  img {
    display: block;
    margin: auto;
    margin-top: 50px;
    max-width: 50%;
  }
  .button{
    text-align: center;
margin: auto;
  }